/*CSS*/

/****************NAVIGATION BAR****************/
body 
{
  margin: 0;
  font-family: sans-serif, Arial;
  background-color: #000000;
  padding: 10px;

}

.topnav 
{
  overflow: hidden;
  background-color: #333;
  border-radius: 25px;
}

.topnav a 
{
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
}

.topnav a:hover 
{
  background-color: #ffffff;
  color: black;
}

.topnav a.active 
{
  background-color: #990099;
  color: white;
}

.topnav-right {
  float: right;
}
/*****************RESUME FORMATTING***********************/
#resume {
	font-family: sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 450px;
}

#resume td, #resume th {
	border: 1px solid #ddd;
    padding: 8px;	
}

#resume tr:nth-child(even){background-color: #FFFFFF;}

#resume tr:hover {background-color: #ddd;}

#resume th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}

/*****************HEADER TEXT RESCALING********************/
div.h1 {
  display: block;
  background-color: #000;
  padding: 5px;
  font-family: sans-serif;
  text-align: center;
  color: white;

}

@media screen and (min-width: 601px) {
  div.h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.h1 {
    font-size: 30px;
  }
}

.responsive {
    width: 100%;
    height: auto;
}


/*************GALLERY CSS*************************/
* {
    box-sizing: border-box;
}

body {

    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.row > .column {
  padding: 0 8px;
}


/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

